<%= form_with(model: milestone, local: true) do |form| %>
  <% if milestone.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(milestone.errors.count, "error") %> prohibited this milestone from being saved:</h2>

      <ul>
      <% milestone.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :label %>
    <%= form.text_field :label, id: :milestone_label %>
  </div>

  <div class="field">
    <%= form.label :deadline %>
    <%= form.datetime_select :deadline, id: :milestone_deadline %>
  </div>

  <div class="field">
    <%= form.label :project_id %>

    <%= form.collection_select(:project_id, Project.all.order(:name), :id, :name, id: :todo_project_id )%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
