<tr>
  <td><%= milestone.label %></td>
  <td><%= milestone.deadline %></td>
  <td><%= link_to 'Show', milestone %></td>
  <td><%= link_to 'Edit', edit_milestone_path(milestone) %></td>
  <td><%= link_to 'Destroy', milestone, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>
