<p id="notice"><%= notice %></p>

<p>
  <strong>Label:</strong>
  <%= @milestone.label %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @milestone.deadline %>
</p>

<p>
  <strong>Project:</strong>
  <%= link_to @milestone.project.name, @milestone.project %>
</p>

<p>
  <strong>Active:</strong>
  <%= @milestone.active? %>
</p>

<p>
  <strong>Active second:</strong>
  <%= @milestone.active_second? %>
</p>

<p>
  <strong>Active third:</strong>
  <%= @milestone.active_third? %>
</p>

<%= link_to 'Edit', edit_milestone_path(@milestone) %> |
<%= link_to 'Back', milestones_path %>
