<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @project.status %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>

<hr />

<h4>Todos</h4>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @project.todos %>
  </tbody>
</table>

<%= link_to 'New Todo', new_todo_path %>

<h4>Milestones</h4>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @project.milestones.order(deadline: :asc) %>
  </tbody>
</table>

<%= link_to 'New Milestone', new_milestone_path %>

<h4>Labels</h4>

<table>
  <thead>
    <tr>
      <th>Label</th>
      <th>color</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @project.labels %>
  </tbody>
</table>

<%= link_to 'New Label', new_label_path %>

